<div id="home">

  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="#">Pet Stop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="*">Events</a>
        </li>
        
      </ul>
    </div>
  </nav>

<div class="jumbotron">

  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>Here Is Your Pet Information</h2>

        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://static.boredpanda.com/blog/wp-content/uploads/2014/09/underwater-puppy-photography-seth-casteel-8.jpg"
            alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Name: Jimmy</h5>
            <p class="card-text">Energic, sweet and slightly eccentric. His favorite toy is his tennis ball</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Age:</li>
            <li class="list-group-item">Breed</li>
            <li class="list-group-item">Species</li>
          </ul>
          <div class="card-body">
            <a href="https://www.banfield.com/" class="card-link">Banfield</a>
            <a href="https://vcahospitals.com/" class="card-link">VCA</a>
          </div>
        </div>

   
<div class = "placeholderCalender">
        <div class="month"> 
  <ul>
    <li class="prev">&#10094;</li>
    <li class="next">&#10095;</li>
    <li>August<br><span style="font-size:18px">2017</span></li>
  </ul>
</div>

<ul class="weekdays">
  <li>Mo</li>
  <li>Tu</li>
  <li>We</li>
  <li>Th</li>
  <li>Fr</li>
  <li>Sa</li>
  <li>Su</li>
</ul>

<ul class="days"> 
  <li>1</li>
  <li>2</li>
  <li>3</li>
  <li>4</li>
  <li>5</li>
  <li>6</li>
  <li>7</li>
  <li>8</li>
  <li>9</li>
  <li><span class="active">10</span></li>
  <li>11</li>
  

</ul>
</div>
        <form class="clearfix mb-4" action="POST">
          <div class = "eventName">Enter Your Event Information</div>
          <div class="form-group">
            <label for="example-text">Name of Event</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Enter Event">
          </div>
          <div class="form-group">
            <label for="example-description">Date and Time</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Enter Date, Time"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        <h3>List of Upcoming Events:</h3>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
  </div>

  
</div>



<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>